.password-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: none;
}

.password-form-card {
  background-color: #ccd3d8ac;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.password-form-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.password-form-card input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1rem;
}

.password-form-card button {
  flex: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.password-form-card button:first-child {
  background-color: #007acc;
  color: white;
}

.password-form-card button:first-child:hover {
  background-color: #007acc;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.cancel-btn:hover {
  background-color: #bbb;
}

.message {
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
}
